%h2 Welcome to mediabumper!

%h3 Latest files
%ul
  - @recent_files.each do |f|
    %li
      = f.created_at
      = link_to_playlist h(f.basename), f

%h3 Latest albums
%ul
  - @recent_albums.each do |a|
    %li
      = a.created_at
      = link_to_playlist h(a.name), a
      by
      = link_to h(a.artist.name), artist_path(a.artist)